.overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding: 0 20px 30px;
}

.modal {
    position: fixed;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 100dvw;
    height: 100dvh;
    max-width: 600px;
    overflow: auto;
    padding: 14px;
    background-color: rgba(28, 29, 44, 0.7);
    backdrop-filter: blur(12px);
}

.rewardModal {
    background: linear-gradient(147deg, #000000 0%, #04619f 74%);
    color: #fff;
    border-radius: 20px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: slideUp 0.3s ease-out;
    position: relative;
}

/* close will be above the modal content top right relative to the modal-content */
.close {
    position: absolute;
    top: -6rem;
    font-size: 3rem;
    right: 0;
    padding: 1rem;
    cursor: pointer;
}


@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.giftImage {
    width: 70px;
    position: absolute;
    top: -40px;
}

.header {
    display: flex;
    justify-content: center;
    position: relative;
}

.closeBtn {
    position: absolute;
    top: -10px;
    right: 0;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}

.modalContent {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 8px
}

.modalContent span {
    font-size: 18px;
    font-weight: 500;
}

.modalContent p {
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF99;

}

.claimBtn {
    background-color: #1E90FF;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 14px;
    border-radius: 12px;
    cursor: pointer;
}

.rewardNote {
    color: #999;
    font-size: 12px;
}