.task-main-container-div{
    border-top: 2px solid #3669BB;
    border-radius: 50px; 
    margin-top: 20px;
    
}
.task-title{
    font-weight: 400;
    font-size: 17px;
    font-family: "Montserrat"
}