.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0px auto;
  background-color: #17191c;
  position: fixed;
  bottom: 0;
  padding: 20px 10px;
}

.footer-card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.footer-card img {
  width: 60%;
}

.footer-card a {
  text-decoration: none;
  color: #8b8c8d;
  font-size: 14px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.footer-card.active img {
  filter: invert(25%) sepia(39%) saturate(1280%) hue-rotate(195deg)
    brightness(90%) contrast(94%);
}

.footer-card.active a {
  color: #3669bb;
  font-weight: bold;
}
