.profile-main-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.update-profile-text {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.36px;
  margin-bottom: 40px;
  text-align: start;
  width: 80%;
  margin-top: 20px;
}

.profile-title {
  font-weight: 400;
  font-size: 17px;
  color: #fff;
  padding-bottom: 20px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  border-top: 2px solid #3669bb;
  border-radius: 50px;
  width: 100%;
}

.first-last-div {
  display: flex;
  gap: 10px;
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 80%;
}

.update-button {
  border-radius: 10px;
  background: #3669bb;
  font-size: 16px;
  color: #fff;
  padding: 12px;
  border: none;
  width: 100%;
  cursor: pointer;
}
.first-div p {
  color: #bbbec4;

  font-size: 13.399px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.632px;
}
.email-div p {
  color: #bbbec4;
  font-size: 13.399px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.632px;
}
.first-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
.first-div input {
  background: #282D33;
  border: none;
  outline: none;
  padding: 10px;
  color: #fff;
}

.email-div input {
  background:  #282D33;
  border: none;
  outline: none;
  padding: 10px;
  color: #fff;
}

.email-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
