.screen {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 50px;
}

.tabContainer {
  display: flex;
  overflow-x: scroll;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tabContainer::-webkit-scrollbar {
  display: none;
}

.totalPointSection {
  align-self: center;
}

.imageContainer {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #3f51b5;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  padding: 0.25rem;
  background-color: #222;
  border-radius: 8px;
}

.tab {
  padding: 0.5rem 1rem;
  border: none;
  background-color: transparent;
  color: #aaa;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.2s, color 0.2s;
}

.tab.active {
  background-color: #007bff;
  color: white;
}

.activeTab {
  color: #fff;
  background-color: #212121;
  border-radius: 14px;
  justify-content: center;
  align-items: center;
  padding: 8px 14px;
}

.taskHeader {
  margin-top: 10px;
  margin-bottom: 15px;
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.snackbar {
  position: fixed;
  z-index: 100;
  width: 80%;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
